/* font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Montserrat', sans-serif;*/

#main, #benefit{
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.main_title{
  font-weight: 100;
  color: white;
  letter-spacing: 2px;
  font-size: 55px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.line{
  width: 150px;
  height: 3px;
  background-color: white;
  margin: 0 auto;
}
#main{
   background-image:url('backgroud_main.gif');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}
#quote{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  color:#9c9797;
  font-family: 'Montserrat', sans-serif;
}
.fa-chevron-down{
  position: absolute;
  left: 50%;
  bottom: -80%;
  transform: translate(-50%, -100%);
  margin: 0 auto;
  color: #9c9797;
  font-size: 60px;
}
/**********************************(********************)*******************************/
#benefit{
   background-image:url('benefit_background.gif');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}
.quotes{
  color: white;
  padding-top: 25px;
}
.list{
  color: white;
  font-size: 40px;
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, 50%);
}
